{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    body {
        color: white;
        overflow: hidden;
    }

    h1 {
        margin-top: 10%;
        margin-bottom: 5%;
        font-size: 8rem;
    }

    p {
        font-size: 2rem;
    }
</style>

<body>

    <center>

        <h1>Crime Portal Overview</h1>

        <p> A crime portal is a web-based platform that provides a centralized hub for citizens, law enforcement
            agencies, and
            other stakeholders to report, track, and analyze crime-related data. The portal aims to increase
            transparency,
            improve communication, and enhance the overall efficiency of crime prevention and investigation.</p>
            <br>
        <p>&copy; Harsha C | All Rights Reserved</p>    
        {% endblock %}
    </center>
</body>